
torch
transformers
huggingface_hub
PyPDF2
rapidfuzz
beautifulsoup4
deep-translator
sentence-transformers
gradio
pandas
azure-ai-inference
azure-core
ipywidgets
fuzzywuzzy
scikit-learn
requests
python-Levenshtein
sentencepiece
protobuf
accelerate


